<nav id="navbar" class="navbar__base">
  <link rel="stylesheet" href="navbar.css" />

  <div class="navbar__container">
    <div class="navbar__brand">
      <span class="navbar__code-symbol">&lt;/&gt;</span>
      <span class="navbar__dev-name">{{site.dev_name}}</span>
    </div>
    <ul class="navbar__links">
      {{#each navigation.links}}
        <li><a href="{{this.href}}" class="navbar__link">{{this.name}}</a></li>
      {{/each}}
    </ul>
    <div class="navbar__actions">
      <button class="navbar__theme-toggle" id="themeToggle">
        <span class="navbar__theme-icon">🌙</span>
      </button>
    </div>
    <div class="navbar__mobile-menu-btn">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</nav>