<section id="projects" class="section-padding">
    <link rel="stylesheet" href="section-projects.css" />
  <div class="container">
    <div class="section-header">
      <h2 class="section-title">// featured_projects</h2>
      <div class="section-line"></div>
    </div>
    <div class="projects-grid">
      {{#each projects}}
        <div class="project-item">
          <h3>{{this.title}}</h3>
          <p>{{this.description}}</p>
          <a href="{{this.link}}" target="_blank">View Project</a>
        </div>
      {{/each}}
    </div>
  </div>
</section>