@use "sass:math";
@use "./partials/variables" as vars;

.brand {
  &__base {
    display: flex;
    align-items: center;
    gap: math.div(vars.$baseline, 2);
    font-family: "JetBrains Mono", monospace;
    font-weight: 700;
  }

  &__code-symbol {
    color: var(--accent-color);
    font-weight: bold;
  }

  &__dev-name {
    font-size: vars.$font-size--m;
  }
}
