@keyframes componentFadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.component-group {
  animation: componentFadeIn 0.6s ease;
}

.component-group:nth-child(1) {
  animation-delay: 0.1s;
}
.component-group:nth-child(2) {
  animation-delay: 0.2s;
}
.component-group:nth-child(3) {
  animation-delay: 0.3s;
}
.component-group:nth-child(4) {
  animation-delay: 0.4s;
}