{{#> partials/_section title="experience" id="experience"}}

<div class="timeline">
    {{!-- <div class="timeline-item">
        <div class="timeline-date">2022 - Present</div>
        <div class="timeline-content">
            <h3>Senior Software Engineer</h3>
            <h4>TechCorp Inc.</h4>
            <p>Led development of microservices architecture serving 1M+ users. Improved system performance by
                40% through optimization and caching strategies.</p>
            <div class="tech-tags">
                <span>TypeScript</span>
                <span>Node.js</span>
                <span>AWS</span>
                <span>Redis</span>
            </div>
        </div>
    </div> --}}
    <div class="timeline-item">
        <div class="timeline-date">2019 - 2024</div>
        <div class="timeline-content">
            <h3>Front-end Software Engineer</h3>
            <h4>Congnizant Netcentric</h4>
            <p>Built and maintained web-sites and web-app using Front-end Core Technologies and React.
                Implemented Front-end CI/CD pipelines with build tools such as Webpack and Vite.</p>
            <div class="tech-tags">
                <span>Front-end Core Technologies</span>
                <span>TypeScript</span>
                <span>React</span>
                <span>Node.js</span>
                <span>GitHub Actions</span>
                <span>AWS</span>
            </div>
        </div>
    </div>
</div>
{{/ partials/_section}}